<p>Please go to <span class="menuselection">Soubor ‣ Vytvořit a <span class="accelerator">o</span>tevřít nový soubor</span>.</p>
<p>Please go to <span class="menuselection">Soubor ‣ Vytvořit a <span class="accelerator">o</span>tevřít nový soubor</span>.</p>
<p>Please go to <span class="menuselection">Soubor ‣ Vytvořit a <span class="accelerator">o</span>tevřít nový soubor</span>.</p>